<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Sign up for your Breakout Sessions</h3>

	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>




				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Your Email from FFRC">
				</div>


				<div class="form-group">
					<label for="orgs" class="control-label">Regulatory Jurisdiction(s): </label>
					<div id="orgs">
						<label class="checkbox-inline">
							<input type="checkbox" name="organization" ng-model="credentials.USDA"> USDA
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" name="organization" ng-model="credentials.FDA"> FDA
						</label>
					</div>
				</div>


				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Proceed</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>