.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/

data/db/ffrc2015-dev.0
data/db/ffrc2015-dev.ns
data/db/local.0
data/db/local.ns
data/db/mongod.lock

public/lib
app/tests/coverage/
.bower-*/
.idea/