<section data-ng-controller="BreakoutsController" data-ng-init="findBreakoutForAdmin()">

  <div class="page-header">
    <h1 data-ng-bind="nameOfBreakout"></h1>
  </div>


<h2>{{breakoutsByName[0].name}}</h2>


<ul class='list-group'>
            <li class="list-group-item" for="{{breakout}}" ng-repeat="breakout in breakoutsByName">
              <div style="width:1200px;">
                <h3>Session {{breakout.sessionNumber}} {{breakout.users.length}}/{{breakout.maxCapacity}}</h3>
              </div>


            <ul style="list-style-type: none;"ng-repeat="user in breakout.users track by $index">
                  <li>  <a href="mailto:{{user.email}}"> {{user.firstName}} {{user.lastName}}</a> <b ng-show="user.USDA"> USDA</b>  <b ng-show="user.FDA"> FDA</b></li>
                  <div style="margin: 0 auto;"><div style="margin-left: 50px"ng-show="user.comment"> {{user.comment}}</div></div>
            </ul>


            </li>

</ul>




</section>