<section data-ng-controller="BreakoutsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Breakouts</h1>
    </div>

<form data-ng-submit="submitSchedule()" name='sessionform'>




<div class='container'>
    <h1>Session ONE</h1>
    <div class='list-group'>
        <label class="list-group-item col-md-6 odd" for="{{breakout}}" ng-repeat="breakout in sessOne">
            <div popover="{{breakout.description}}" popover-title='{{breakout.speaker}}' popover-trigger="mouseenter" popover-placement='bottom'>
                    <input id="{{breakout}}" type="radio"
                    ng-model="sessionform.sessionone" data-ng-value="breakout">
                    {{breakout.name}}
             </div>
        </label>
    </div>
</div>



<div class='container'>
    <h1>Session TWO</h1>
    <div class='list-group'>
        <label class="list-group-item col-md-6 odd" for="{{breakout}}" ng-repeat="breakout in sessTwo">
            <div popover="{{breakout.description}}" popover-title='{{breakout.speaker}}' popover-trigger="mouseenter">
                        <input id="{{breakout}}" type="radio"
                        ng-model="sessionform.sessiontwo" data-ng-value="breakout">
                        {{breakout.name}}
            </div>
        </label>
    </div>
</div>

<div class='container'>
<h1>Session THREE</h1>
<div class='list-group'>
    <label class="list-group-item col-md-6 odd" for="{{breakout}}" ng-repeat="breakout in sessThree">
        <div popover="{{breakout.description}}" popover-title='{{breakout.speaker}}' popover-trigger="mouseenter">
                <input id="{{breakout}}" type="radio"
                ng-model="sessionform.sessionthree" data-ng-value="breakout">
               {{breakout.name}}
        </div>
    </label>
</div>
</div>

<div class='container'>
    <h1>Session FOUR</h1>
    <div class='list-group'>
        <label class="list-group-item col-md-6 odd" for="{{breakout}}" ng-repeat="breakout in sessFour">
            <div popover="{{breakout.description}}" popover-title='{{breakout.speaker}}' popover-trigger="mouseenter">
                    <input id="{{breakout}}" type="radio"
                    ng-model="sessionform.sessionfour" data-ng-value="breakout">
                    {{breakout.name}}
           </div>
        </label>
    </div>
</div>


<div class='container'>
    <h1>Session FIVE</h1>
    <div class='list-group'>
        <label class="list-group-item col-md-6 odd" for="{{breakout}}" ng-repeat="breakout in sessFive">
            <div popover="{{breakout.description}}" popover-title='{{breakout.speaker}}' popover-trigger="mouseenter">
                    <input id="{{breakout}}" type="radio"
                    ng-model="sessionform.sessionfive" data-ng-value="breakout">
                     {{breakout.name}}
            </div>
        </label>
    </div>
</div>


<div class='container'>
    <h1>Session SIX</h1>
    <div class='list-group'>
        <label class="list-group-item col-md-6 odd" for="{{breakout}}" ng-repeat="breakout in sessSix">
            <div popover="{{breakout.description}}" popover-title='{{breakout.speaker}}' popover-trigger="mouseenter">
                    <input id="{{breakout}}" type="radio"
                    ng-model="sessionform.sessionsix" data-ng-value="breakout">
                    {{breakout.name}}
            </div>
        </label>
    </div>
</div>


<div class='container'>
    <h1>Session SEVEN</h1>
    <div class='list-group'>
        <label class="list-group-item col-md-6 odd" for="{{breakout}}" ng-repeat="breakout in sessSeven">
            <div popover="{{breakout.description}}" popover-title='{{breakout.speaker}}' popover-trigger="mouseenter">
                    <input id="{{breakout}}" type="radio"
                    ng-model="sessionform.sessionseven" data-ng-value="breakout">
                    {{breakout.name}}
            </div>
        </label>
    </div>
</div>



<button type="submit" class="btn btn-danger btn-lg">Submit</button>

</form>

    <div class="alert alert-warning text-center" data-ng-hide="!breakouts.$resolved || breakouts.length">
    	No Breakouts yet, why don't you <a href="/#!/breakouts/create">create one</a>?
    </div>
</section>



