



<style type="text/css">
      #thebutton {
        margin-top:40px;
        margin-bottom: 20px;
    }

    #cntrthebutton {
        margin: 0 auto;
        position: center;
        width:400px;
    }
</style>



<section data-ng-controller="BreakoutsController" data-ng-init="findUserForAdmin()" style="margin-bottom:65px;">






        <div class="container">


         <b> We are sorry, but Breakout Signups for the <a href="http://www.primelabel.com/conference.html"> 2015 Federal Food Regulatory Conference </a> are now closed.  Please inquire onsite at conference registration (<a href="http://embassysuites3.hilton.com/en/hotels/district-of-columbia/embassy-suites-washington-dc-georgetown-WASDNES/index.html">Embassy Suites Washington DC Hotel</a> Sunday April 26th 4:30-7:00 pm) if you need further assistance with your Breakout Signups.</b>

        </div>


</section>

